.category-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  text-align: center;
  
}

.category-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.category-image {
  width: 100%;
  height: 130px;
  object-fit: cover;
  display: block;
}

.category-info {
  padding: 10px;
}

.category-name {
  color: #2e2e2e;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px;
}
