.userperfil{
    display: flex;
    flex-direction: column;
}
.userprofilein{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    min-height: 80vh;
}

.userperfil .userprofilein .left{
    width: 20%;
    background-color: white;
    height: 35%;
    padding-top: 15px;
}

.userperfil .userprofilein .right{
    width: 100%;
    background-color: #F5F5F5;
    border: 1px solid black;
    /* border-radius: 5px; */
    min-height: 50vh;
    padding: 40px;
}