# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Output
dist/
build/

# Environment
.env
.env.local
.env.*.local

# Vite
.vite/

# Editor folders
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db
