.usersidebar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.usersidebar .s1 , .usersidebar .s2{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.usersidebar img{
    width: 30px;
    height: 30px;
    object-fit: cover;
    color: antiquewhite;
}

.usersidebar .s1:hover{
    background-color: red;
    border-radius: 5px;
    cursor: pointer;
    color: gray;
}