.useraddress{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addressin{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.addressin .address{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 45%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    min-height: 100px;
    gap: 10px;
}

.addressin .address .delbtn{
    color: red;
    border: none;
    position: absolute;
    top: 10px;
    padding: 8px;
    width: 40px;
    height: 40px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
    right: -2px;
    top: -10px;
}

.useraddress .addnewbtn{
    width: 70px;
    height: 70px;
    background-color: red;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}

.useraddress .addnew{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
}

.useraddress .addnew h1{
    text-align: center;
}

.useraddress .addnew button{
    width: 200px;
}

.useraddress .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.useraddress .form .for-group{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-bottom: 10px;
}

.useraddress .form .form-group label{
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}

.useraddress .form .form-group input{
    padding: 10px 20px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px; 
}   

.useraddress .form .form-group input:focus{
    border: 1.2px solid blue;
}

.useraddress .form button{
    padding: 10px 20px;
    margin: 10px 0px;
    border: none;
    background-color: blue;
    color: white;
    border-radius: 5px;
}