/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Colores y tipografía */
:root {
  --primary: #4caf50;
  --secondary: #388e3c;
  --gray: #555;
  --light: #f5f8f4;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--light);
  color: var(--gray);
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
