/**

 * Autor: Erika Clara Frayre

 * Componente: General category.css

 * Descripción: Es una la seccion de los estilos de la pagina para  que muestra las categorias que se encuentran en el sistema
    para que el usuario al seleccionarla rediriga a cada categoria

 */
.general-category-container {
  width: 100%;
  padding: 80px 40px;
  text-align: center;
}

.gc-title {
  font-size: 42px;
  font-weight: 700;
}

.gc-subtitle {
  margin-top: 6px;
  font-size: 18px;
  color: #5f5f5f;
}

.gc-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.gc-card {
  cursor: pointer;
  padding: 18px;
  border-radius: 20px;
  background: #f6f6f6;
  transition: 0.25s ease;
  border: 2px solid transparent;
}

.gc-card:hover {
  transform: translateY(-5px);
  border-color: #89c56b;
}

.gc-image {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 16px;
}

.gc-name {
  margin-top: 14px;
  font-size: 20px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .gc-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .gc-grid {
    grid-template-columns: 1fr;
  }
}
