.product-detail-container {
  width: 85%;
  margin: 0 auto;
  padding-top: 40px;
}

.breadcrumb {
  color: #444;
  margin-bottom: 20px;
}

.product-detail {
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
}

.product-images {
  width: 50%;
}

.main-image {
  width: 100%;
  border-radius: 10px;
}

.image-grid {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.image-grid img {
  width: 32%;
  border-radius: 10px;
}

.product-info {
  width: 45%;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.shipping {
  margin-top: 10px;
  color: gray;
  font-size: 14px;
}

.dimensions {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.dimensions div p {
  margin-bottom: 4px;
}

.dimensions input {
  width: 70px;
  padding: 5px;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.quantity-container {
  margin-top: 20px;
}

.quantity-box {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
}

.quantity-box button {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  border: none;
  background: #e6e6e6;
  cursor: pointer;
}

.add-cart-btn {
  margin-top: 20px;
  background: #5A7F6E;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  width: 60%;
  cursor: pointer;
}

.recommended-section {
  margin-top: 80px;
}

.recommended-grid {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.recommended-card {
  width: 25%;
  padding: 15px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.recommended-card img {
  width: 100%;
  border-radius: 10px;
}

.buy-btn {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  background: #5A7F6E;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
