.shop-page {
  width: 100%;
  margin-top: 0px;
}

.shop-header {
  text-align: left;
  padding: 20px 60px;
  background: #95cfa8;
}

.shop-header h1 {
  font-size: 42px;
  margin-bottom: 5px;
}

.shop-layout {
  display: flex;
  gap: 40px;
  padding: 40px 60px;
}

.shop-sidebar {
  width: 250px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 14px;
  background: #fafafa;
}

.filter-box {
  margin-bottom: 18px;
}

.filter-box label {
  font-size: 14px;
  font-weight: bold;
  display: block;
  margin-bottom: 6px;
}

.filter-box input,
.filter-box select {
  width: 90%;
  padding: 8px;
  border: 1px solid #178f43;
  border-radius: 8px;
}

.shop-products {
  flex: 1;
}

.products-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sort-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 25px;
}
.product-card {
  padding: 15px;
  border-radius: 12px;
  border: 1px solid #e1e1e1;
  background: white;
  text-align: center;
  transition: 0.2s;
}

.product-card:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.product-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.price {
  font-weight: bold;
  margin-top: 10px;
}

.buy-btn {
  background: #3e7b52;
  color: white;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 12px;
  cursor: pointer;
}

.buy-btn:hover {
  background: #2f6a45;
}
