.cont-signup{
    display: flex;
    flex-direction: column;
    /* margin: auto;
    margin-top: 100px; */
    background: white;
    height: 80vh;
    border-radius: 5px;
    /* padding-bottom: 30px; */
}

.header-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    margin-top: 20px;
}

.text-signup{
    color: red;
    font-size: 30px;
    font-weight: 600;
}

.underline{
    width: 55px;
    height: 5px;
    background: red;
    border-radius: 9px;
    margin-bottom: 10px;
}

.social-login{
    display: flex;
    gap: 1.31rem;
}

.social-login .social-button{
    display: flex;
    width: 100%;
    gap: 0.81rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.75rem;
    align-items: center;
    justify-content: center;
    background: #f9f8ff;
    border: 1px solid #b8b8b8;
    transition: all 0.3s ease;  
    border-radius: 10px;
}

.social-login .social-button:hover{
    background: #c0c0c0;
}

.social-login .social-button img{
    width: 23px;
}

.inputs-signup{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.input-signup{
    display: flex;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 40px;
    background: #eaeaea;
    border-radius: 6px;
}

.input-signup img{
    margin: 0px 20px;
    width: 22px;
    height: 22px;
}

.input-signup input{
    height: 20px;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 17px;

}

.forgot-password{
    text-align: center;
    margin-top: 5px;
    color: #797979;
    font-size: 15px;
}

.forgot-password span{
    color: red;
    cursor: pointer;
}

.submit-cont{
    display: flex;
    gap: 20px;
    margin: 20px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 40px;
    color: white;
    background: red;
    border-radius: 60px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.gray{
    background: #eaeaea;
    color: #676767;
}